div {
    font-family: Arial;
}

.info-board {
    position:relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 20px;
    text-align: center;
    margin: 20px auto;
}

input {
    transition: 0.2s;
    font-weight: bold;
    width: auto;
    height: 20px;
    border: none;
    box-shadow: 4px 4px 2px 0px rgba(50, 50, 50, 0.75);
    background-color: white;
    border-radius: 10px;
}

.continue:hover {
    background-color: limegreen;
    color: white;
}

.continue:active {
    transform: translate(2px, 2px);
    box-shadow: 2px 2px 2px 0px rgba(50, 50, 50, 0.75);
}

.give-up:hover {
    background-color: red;
    color: white;
}

.give-up:active {
    transform: translate(2px, 2px);
    box-shadow: 2px 2px 2px 0px rgba(50, 50, 50, 0.75);
}

.hidden {
    transition: 0.2s;
    visibility: hidden;
}
  
.board {
    position: relative;
    top: 80px;
    margin: 0 auto;
}
  
td {
    padding: 5px;
    width: 50px;
    height: 80px;
}
  
.flippable-card {
    perspective: 1000px;
    transition: 0.6s;
    transform-style: preserve-3d;
    display: grid;
    align-content: center;
    justify-items: center;
    margin: 0 auto;
    box-shadow: 4px 4px 2px 0px rgba(50, 50, 50, 0.75);

    width: 40px;
    height: 80px;
    background-color: mediumpurple;
    border-radius: 6px;
    font-weight: bold;
    border: 2px solid blue;
    font-size: 25px;
    color: white;
}

.flippable-card:hover {
    border: 2px solid purples;
}

.flippable-card.flipped {
    transform: rotateY(180deg);
    box-shadow: -4px 4px 2px 0px rgba(50, 50, 50, 0.75);
}

.flippable-card.locked {
    width: 30px;
    height: 60px;
    background-color: gray;
    border: 2px solid darkgray;
  }

.front, .back {
    backface-visibility: hidden;

    width: auto;
    height: auto;

    grid-column: 1;
    grid-row: 1;
}

.front {
    z-index: 2;
    transform: rotateY(180deg);
}

.back {
    transform: rotateY(0deg);
}